.link-etape {
    display: block;
    text-align: center;
    text-decoration: none !important;
    background-color: #dddcdc;
    margin-left: 5px;
    border-radius: 10px 10px 0 0;
    color: #f07a17 !important;
    padding: 7px 30px;
}
.etape-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    list-style: none;
}
.wrapper-etape {
    width: 70%;
    margin: 10px;
}
.etape-menu li {
    position: relative;
}
.supprimerEtape {
    color: #d21b1b !important;
    position: absolute;
    right: 5px;
    top: 7px;
    font-weight: bold;
}
.active .link-etape {
    background: #f07a17;
    color: white !important;
}
.etape-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    list-style: none;
}
.etape-menu li {
    cursor : pointer;
}
.contenu-etape {
    display: none;
}
.contenu-etape.active {
    display : block;
}
.py-4{
    display: flex;
    flex-direction: column;
    padding: 1px 16px;
    height: 100hv;
    width: 100%;
}
.menuPrincipal{
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 15%;

}
.menuPrincipal ul{
    width: 100%;
    height: 100vh;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

}
.elementMenuPrincipal a{
    display: block;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}
.elementMenuPrincipal a:hover{
    background-color: rgb(85, 84, 84);
}
.elementMenuPrincipal a.active{
    background-color: #f58e1d;
}
.row1{
    display: flex;
    flex-direction: row;
}
.accueil{
    width: 100% ;
}
.buttonForm {
	width: 20%;
}

#logo{
    max-width: 70%;
}
.navbar{
    background: linear-gradient(to right, rgba(245,151,29,1) 0%, rgb(240, 121, 23) 0%, rgba(245,151,29,1) 100%);
    box-shadow: darkgray;
}
body{
    font-family: "Montserrat" !important;
    font-size: 18;
    font-weight: 300 !important;
}
.card{
    border-radius: 0;
}
.card .cardStatistique{
    width: 31%;
    margin: 1%;
    background: rgb(255, 255, 255);
    float: left;
    border: 1%;
    border-color: rgb(196, 196, 196);
    border-radius: 0;
    align-items: center;
    margin-bottom: 3%;

}
.lienPartage{
    display: block;
    width:100%;
}
.card-header{
    border-bottom: none;
    background-color: white;
    align-content: center;
}
.card-stat{
    font-size:unset;
}

.form-group{
    width:40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-group.form-check-client{
    display: block !important;
}
.form-control.form-input-client{
    margin-left: 0;
}
.form-control.form-textarea-client{
    margin-left: 0;
}

.form-control{
    margin-left:5%;
    width: 100%;
    align-self: right;
    border-radius: 0;
}

.label.form-label-client{
    width: 50%;
    font-size: 20px;
    text-decoration-line: underline;

}
.btn-primary{
    background-color: #f58e1d;
    border-color: #f58e1d;
    margin-top: 1%;
    margin-bottom:1%;
}
.btn-primary:hover{
    background-color: #f07917;
    border-color: #f07917;
}
.noteDescription{
    margin: 0;
}
.noteAffilie{
    margin: 0;
    width: 80%;
}
#TableNote{
    margin-top: 2%;
    margin-bottom: 2%;
}
.loginForm{
    width:100%;
}
.Accueil{
    width: 80%;
    display: flex;
    margin: 2%;
}
.labelAccueil{
    width: 60%;
}
.inputAccueil{
    width: 100%;
}
#navbarDropdown {
    color: white;
}
.wrapper-question {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background: gray;
    margin: 15px 0;
}
.type_question {
    width: 100%;
    padding-bottom: 15px;
    display: inline-block;
}
label {
    width: 40%;
}
.nom_question {
    width: 30%;
}
.supprimer_question {
    color: white;
    padding: 7px 25px;
    background: #f62929;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    display: inline-block;
}
.ajouter_information, .ajouter-etape {
    width: 220px;
    display: block;
    text-align: center;
    background: #f58e1d;
    padding: 6px 20px;
    color: white;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}
.ajouter_information:hover, .ajouter-etape:hover, .supprimer_question:hover {
    color: white;
    text-decoration: none;
}
.wrapper-question {
    display: block;
    padding: 10px;
    background: gray;
    margin: 15px 0;
}
.type-question {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
    top: 36%;
}
.type-question a {
    background: #f07a17;
    text-align: center;
    color: white;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}
.formulaire {
    display: flex;
    flex-wrap: wrap;
}
.wrapper-question {
    display: block;
    padding: 10px;
    background: #e0e0e0;
    margin: 15px 0;
}
.modifier_formulaire {
    display: block;
    text-align: center;
    background: #f07a17;
    padding: 6px 20px;
    color: white;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
}
.type-question a:hover {
    text-decoration: none;
    background: #e17317;
}
.button.is-link.modifier_formulaire:hover {
    text-decoration: none;
    background: #e17317;
}

.wrapper-condition {
    display: none;
}

.active.wrapper-condition {
    display: block;
}


.form-group.form-check-client.hidden{
    display:none !important;
}

.dataTables_wrapper label{
    display: initial !important;
}
.hidden{
    display: none;
}
#progressBar{
    width: 0%;
    background-color: #f07917;
}
.progress{
    text-align: center;
    height: auto;
}
.resultatFormulaire{
    text-align: center;
    margin-top: 8%;
}
.progress-bar span {
    padding: 2px;
}

.dt-button.buttons-pdf.buttons-html5{
    margin-left: 5px;
    background-image: none;
    background-color:#f58e1d ;
    color: white;
    border: 1px solid;
    border-radius: 0.25rem;

}
.dt-button.buttons-pdf.buttons-html5:hover{
    background-color:
    #f07917;
    border-color:
    #f07917;
    background-image: none;
}
.afficher_question, .afficher_reponse {
    min-width: 125px;
}
.supp_reponse {
    font-size: 30px;
    color: red;
    font-weight: 800;
    padding: 10px;
}
.supp_reponse:hover {
    color: red;
    text-decoration: none;
}
.wrapper-condition {
    margin-top: 20px;
}
table {
    margin-top: 20px;
}
.selection {
    margin-right: 30px;
}
.field {
    width: 100%;
    margin-bottom: 25px;
}
.ajouter_question_btn {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

@media (max-width: 1080px) {
    .type-question {
        display: flex;
        position: inherit;
        width: 100%;
    }
    .wrapper-etape {
        width: 100%;
        margin: 10px;
    }
    .menuPrincipal {
        width: 25%;
    }
}